{{ zookeeper_user }} soft fsize unlimited 
{{ zookeeper_user }} soft cpu unlimited 
{{ zookeeper_user }} soft as unlimited 
{{ zookeeper_user }} soft nofile 64000 
{{ zookeeper_user }} soft nproc 64000 
{{ zookeeper_user }} hard fsize unlimited 
{{ zookeeper_user }} hard cpu unlimited 
{{ zookeeper_user }} hard as unlimited 
{{ zookeeper_user }} hard nofile 64000 
{{ zookeeper_user }} hard nproc 64000 
